<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/home" class="logo-button">
        <img src="assets/LogoL.jpeg" alt="NLSA Logo" class="logo" />
      </ion-button>
    </ion-buttons>

    <ion-title class="app-title">NLSA</ion-title>

    <ion-buttons slot="end">
      <!-- Redirecting search button to WorldCat Discovery search page -->
      <ion-button fill="clear" (click)="openSearch()" mat-icon-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>

      <ion-menu-button  name="main-menu" menu="main-menu" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
