.footer-container {
    padding: 20px;
    background-color: #f9f9f9;
  
    .social-icons {
      margin-bottom: 10px;
  
      a {
        margin: 0 10px;
        font-size: 24px;
  
        .facebook { color: #3b5998; }
        .instagram { color: #333; }
        .fa-brands{color: black;}
        .youtube { color: #ff0000; }
        .whatsapp{ color: green}
      }
    }
  
    .footer-text {
      font-size: 14px;
      
      text-align: center;
    }
  }
  