

<div>
  <div class="footer-container ion-text-center">
    <div class="social-icons">
      <a href="https://www.facebook.com/NationalLibraryofSA" target="_blank">
        <ion-icon name="logo-facebook" class="facebook"></ion-icon>
      </a>
      <a href="https://www.instagram.com/national_library_of_sa/" target="_blank">
        <ion-icon name="logo-instagram" class="instagram"></ion-icon>
      </a>
      <a href="https://x.com/nlsa1" target="_blank">
        <ion-icon name="logo-twitter" class="twitter"></ion-icon>
      </a>
      <a href="https://www.youtube.com/channel/UCBqKBJUG4uIYFAy658E4vFw?view_as=subscriber" target="_blank">
        <ion-icon name="logo-youtube" class="youtube"></ion-icon>
      </a>
      <a href="https://linkprotect.cudasvc.com/url?a=https%3a%2f%2fwhatsapp.com%2fchannel%2f0029Vb5LnmJFCCoLgaIN8x3A&c=E,1,A1dHw95jqXlaT1n51p2XM1x2yNe7Ok8hUiyGlW84-EnSS4CO4JuOqFM1H3ANZ5BMzhmRskphKUYblzYF3M0KzS18kdoGGaZ4Q5qDHldvp36v&typo=1" target="_blank">
        <ion-icon name="logo-whatsapp" class="whatsapp"></ion-icon>
      </a>
    </div>
  
    <p class="footer-text">
      National Library of South Africa © 2024. All Rights Reserved 
    </p>
  </div>
  
</div>
