<app-header></app-header>

<ion-content class="ion-padding nlsa-contact-page">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Contact us</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Page Title -->
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="ion-text-center">National Library of South Africa</ion-card-title>
      <ion-card-subtitle class="ion-text-center">
        Open Monday to Friday: 08H00 - 17H00
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Navigation Links 
  <ion-list inset lines="full">
    <ion-item routerLink="/home">Home</ion-item>
    <ion-item routerLink="/search-discovery">Search Library</ion-item>
    <ion-item routerLink="/using-library">Using the Library</ion-item>
    <ion-item routerLink="/nlsa-contact">Contact Us</ion-item>
  </ion-list>-->

  

  <!-- Contact Form -->
  <form #contactForm="ngForm" (ngSubmit)="sendMessage()">
    <ion-card>
      <ion-card-header>
        <ion-card-title><ion-icon name="mail-outline"></ion-icon> Write to us</ion-card-title>
        <ion-card-subtitle>Contact us today using this form and we will reach you asap.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" required [(ngModel)]="contact.name" name="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required [(ngModel)]="contact.email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Subject</ion-label>
          <ion-input type="text" required [(ngModel)]="contact.subject" name="subject"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Write your message...</ion-label>
          <ion-textarea required [(ngModel)]="contact.message" name="message"></ion-textarea>
        </ion-item>

        <ion-button expand="block" color="primary" type="submit" [disabled]="!contactForm.valid">
          Send Message
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>

  <!-- Contact Info -->
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="location-outline"></ion-icon> Contact Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pretoria Campus</p>
      <p><ion-icon name="mail-outline"></ion-icon> infodesk&#64;nlsa.ac.za</p>
      <p><ion-icon name="call-outline"></ion-icon> 012 401 9700</p>

      <p>CapeTown Campus</p>
      <p><ion-icon name="mail-outline"></ion-icon> infodesk&#64;nlsa.ac.za</p>
      <p><ion-icon name="call-outline"></ion-icon> 021 487 5600</p>
     
    </ion-card-content>
  </ion-card>

  
<app-footer></app-footer>
</ion-content>


