.nlsa-contact-page {
  background-color: #f8f9fa;
  color: #333;
}

ion-card-title {
  font-size: 1.2rem;
  color: #002856;
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: #666;
}

ion-item {
  --border-color: #ccc;
}

ion-button {
  margin-top: 1rem;
}

ion-icon {
  margin-right: 8px;
  color: #002856;
}
