 <div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs ="100%" fxFlex.sm="33%">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>History</mat-card-title>
            </mat-card-header>
             <a href="/history"> <img src="../../assets/lovenlsa.png"  style="cursor: pointer;"></a>
            <mat-card-content>
                  <p>You can always browse through the history of the NLSA</p>
                </mat-card-content>
          </mat-card>
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>Contact</mat-card-title>
            </mat-card-header>
            <a href="/nlsa-contact" > <img mat-card-image src="../../assets/Building.png"></a>
               <mat-card-content>
                  <p>Browse through contact us page</p>
                </mat-card-content>
          </mat-card>
    </div>
  </div>
 <router-outlet></router-outlet>
</div> 