 <div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs ="100%" fxFlex.sm="33%">
          <mat-card class="mat-elevation-z4">
            <mat-card-header class="centerPara">
                <mat-card-title class="centerPara">Our History</mat-card-title>
            </mat-card-header>
            <a href="history">
                  <img src="../../assets/lovenlsa.png" style="cursor: pointer;">
            </a>
          </mat-card>
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="centerPara">Contact Us Here</mat-card-title>
            </mat-card-header>
              <a href="nlsa-contact">
                  <img mat-card-image src="../../assets/Building.png">
              </a>
          </mat-card>
    </div>
  </div>
 <router-outlet></router-outlet>
</div> 