<app-header></app-header>
<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Information Access Service</ion-title>
    </ion-toolbar>
  </ion-header>

 

   <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-stretch">
        <ion-col
          *ngFor="let card of cardsFirstFour"
          size="12"
          sizeMd="6"
          sizeLg="4"
          class="ion-padding"
        >
          <ion-card style=" height: 300px;">
            <ion-card-header>
              <ion-card-title>
                
                {{ card.title }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ card.description }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Accordion for pretora-campus -->
    <ion-accordion-group class="accordion-group-bordered">
      <ion-accordion value="accordion-one" class="accordion-group-bordered">
        <ion-item slot="header" color="light">
          <ion-label>User services available on Pretoria Campus</ion-label>
        </ion-item>
        <div class="accordion-content" slot="content">
          <ion-grid>
            <ion-row>
              <ion-col
                *ngFor="let card of cardsAccordionOne"
                size="12"
                sizeMd="6"
                sizeLg="4"
                class="ion-padding"
              >
                <ion-card style=" height: 320px;">
                  <ion-card-header>
                    <ion-card-title>
                      
                      {{ card.title }}
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{ card.description }}
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>

      <!-- Accordion for capetown-campus -->
      <ion-accordion value="accordion-two" class="accordion-group-bordered">
        <ion-item slot="header" color="light">
          <ion-label>User services available on Cape Town Campus</ion-label>
        </ion-item>
        <div class="accordion-content" slot="content" >
          <ion-grid>
            <ion-row>
              <ion-col
                *ngFor="let card of cardsAccordionTwo"
                size="12"
                sizeMd="6"
                sizeLg="6"
                class="ion-padding"
              >
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>
                      
                      {{ card.title }}
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{ card.description }}
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  

  <p>Information Access Services (IAS) provides access to the NLSA’s collections and resources. IAS does this by<br>

Providing reference and information services to the public.</p>
<ul>
<li>access to the NLSA’s digital collections.</li>
<li>Facilitating interlibrary loans.</li>
<li>Providing training and education on information literacy.</li>
  </ul>
<p>IAS plays a vital role in ensuring that the NLSA’s collections are accessible to everyone. Its work is essential for research, education, and developing a knowledge-based society.</p>
<app-footer></app-footer>
</ion-content>
