<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>news_add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form (ngSubmit)="onSubmit()" #newsForm="ngForm" enctype="multipart/form-data">

    <!-- Title -->
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" [(ngModel)]="formData.Title" name="Title" required></ion-input>
    </ion-item>

    <!-- Description -->
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="formData.Description" name="Description" required></ion-textarea>
    </ion-item>

    <!-- Image -->
    <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <input type="file" (change)="onFileChange($event)" name="Image" required />
    </ion-item>

    <!-- Story -->
    <ion-item>
      <ion-label position="floating">Story</ion-label>
      <ion-textarea [(ngModel)]="formData.Story" name="Story" required></ion-textarea>
    </ion-item>

    <!-- Submit Button -->
    <ion-button expand="block" type="submit" [disabled]="!newsForm.form.valid" class="ion-margin-top">
      Submit
    </ion-button>

  </form>
  
</ion-content>
