

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Using The Library</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-stretch">
      <ion-col
        *ngFor="let card of cards"
        size="12"
        sizeMd="6"
        sizeLg="4"
        class="ion-padding"
      >
        <ion-card (click)="openLink(card.link)" button>
          <ion-card-header>
            <ion-card-title>
              <ion-icon
                [name]="card.icon"
                class="card-icon"
                slot="start"
              ></ion-icon>
              {{ card.title }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ card.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
