<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Preservation & Conservation Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">preservation-services</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class="ptext">Preservation and Conservation Services (PCS) is responsible for preserving and maintaining the NLSA’s collections of books, manuscripts, maps, photographs, and other materials. PCS does this by:</p>
  <ul>
    <li>Conducting preventive conservation activities, such as environmental monitoring and pest control, to protect the collections from damage.</li>
    <li>Providing treatment for damaged materials, such as cleaning, repairing, and rebinding.</li>
    <li>Digitising materials to create a secure and accessible copy that can be preserved for future generations.</li>
    <li>Providing training and education to staff and the public on preservation and conservation principles.</li>
  </ul>

  <p class="ptext">PCS plays a vital role in ensuring that the NLSA’s collections are preserved for future generations. Its work is essential for research, education, and developing a knowledge-based society.</p>
<app-footer></app-footer>
</ion-content>
