<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>outreach</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">outreach</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class="ptext">The National Library’s Outreach Programmes are designed to provide access to library resources and services to underserved communities.</p>

<hr>
  <p class="ptext">The Centre for the Book (CFB) is the outreach unit of the National Library of South Africa (NLSA) that promotes a culture of reading, writing, and publishing in local languages. The CFB provides information and advice on book publishing, advocates for the importance of reading and writing, and organises events and activities to promote these activities.</p>

  <p class="ptext">The CFB’s work is essential to ensuring that a diversity of voices and experiences are represented in the South African literary landscape. By supporting the publication of books in local languages, the CFB helps to make reading and writing more accessible to everyone.</p>
<app-footer></app-footer>
</ion-content>
