.btn-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.add-news-btn {
  --background: #3880ff; 
  --color: #fff;
  --border-radius: 8px;
  --padding-start: 20px;
  --padding-end: 20px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.add-news-btn:hover {
  --background: #2dd36f; 
  transform: scale(1.05); 
}

.header-menu ion-button {
  --color: #000; /* text color */
  --background: transparent;
  font-size: 16px;
  text-transform: none;
  margin-right: 18px;
  font-weight: bold;
}

.header-menu ion-icon {
  margin-right: 6px;
  font-size: 30px;
}

.header-menu ion-button.active {
  --color: #007bff;
  font-weight: bold;
}