<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>newsupdate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   <ion-list>
  <ion-item *ngFor="let item of newsItems">
    <ion-thumbnail slot="start">
      <img [src]="'http://localhost:8000/storage/news_images/' + item.Image" />
    </ion-thumbnail>

    <ion-label>
      <h2>{{ item.Title }}</h2>
      <p>{{ item.Description }}</p>
    </ion-label>

    <ion-buttons slot="end">
      <ion-button color="danger" (click)="deleteNews(item.id)">
        <ion-icon name="trash-outline"></ion-icon>
        Delete
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>

<div class="btn-container">
  <ion-button routerLink="/news-add" routerDirection="root" class="add-news-btn">
    ADD NEWS 
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>
</div>

</ion-content>
