<app-header></app-header>

<ion-content>
  <app-swiper></app-swiper>
  <!-- Hero image section (add your own images here) 
  <div class="hero-image-wrapper">
    <img src="../../assets/Youth Month.png" alt="Youth Month Banner" class="hero-image" />
  </div>-->

  <app-cards></app-cards>

  <!-- Video section -->
  <div class="video-wrapper">
    <iframe
      src="https://www.youtube.com/embed/jSYv9WvHvPk"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>

  <app-footer></app-footer>

</ion-content>
