<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bibliographic Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bibliographic-services</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-stretch">
      <ion-col
        *ngFor="let card of cards"
        size="12"
        sizeMd="6"
        sizeLg="4"
        class="ion-padding"
      >
        <ion-card (click)="openLink(card.link)" button color="light">
          <ion-card-header>
            <ion-card-title>
              <ion-icon
                [name]="card.icon"
                class="card-icon"
                slot="start"
              ></ion-icon>
              {{ card.title }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ card.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="ptext">Bibliographic Services and Collections Management (BSCM) is the National Library of South Africa’s (NLSA) core programme. It is responsible for collecting, preserving, and making accessible the nation’s documentary heritage. BSCM does this by</p>
  <ul class="">
    <li>Building a complete collection of South African publications through the Legal Deposit Act.</li>
    <li>Extending and supplementing the NLSA’s collections by purchasing material and receiving gifts and donations.</li>
    <li>Creating bibliographic records of all new acquisitions and ensuring that all records created are accessible.</li>
    <li>Facilitating library standards training to ensure compliance with international bibliographic standards in South Africa.</li>
  </ul>

  <p class="ptext">BSCM plays a vital role in ensuring that the nation’s knowledge is preserved for posterity and that information is available to all. Its work is essential for research, education, and developing a knowledge-based society.</p>

  <h1 class="ptext">Search The Collections</h1>

  <p class="ptext">Search the catalogue to find books, pictures, maps, manuscripts and more or search our digital records.</p>

  <h1 class="ptext-anchor"><a href="https://cdm21048.contentdm.oclc.org/digital" target="_blank" >Digital Records</a></h1>
  <app-footer></app-footer>


</ion-content>
