<app-header></app-header>

<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Plan your visit to Cape Town Campus</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
 
  <div class="card-wrapper">

    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-content>
          <div id="map" style="height: 300px; width: 100%;"></div>
        </ion-card-content> 
      </ion-card-header>
      <ion-card-content>
        <ion-card-title style="text-align: center">Operating Hours</ion-card-title>
        <div *ngFor="let item of schedule">
          <div [ngClass]="{ 'today': item.isToday }" class="schedule-row">
            <span class="day">{{ item.day }}</span>
             <span *ngIf="item.isToday" 
                [ngClass]="{
                  'status-badge': true,
                  'open': item.status?.startsWith('Open'),
                  'closed': item.status?.startsWith('Closed')
                }">
            {{ item.status }}
          </span>
            <span *ngIf="!item.isToday" class="hours">{{ item.hours }}</span>
          </div>
        </div>
      </ion-card-content>
      </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Cape Town Campus</ion-card-title>
    </ion-card-header>
    <ion-card-content class="email-container"style="color: red;">
      <ion-icon name="alert-outline" class="email-icon" ></ion-icon>
Proof of identification is required to enter the library
    </ion-card-content>

    <ion-card-content>
      5 Queen Victoria Street<br>
      Cape Town<br>
      8000<br>
      South Africa<br>
    </ion-card-content>

    <ion-card-content>
      GPS Co-ordinates<br>
      33°55’30.1"S 18°25’06.4"E
    </ion-card-content>

    <ion-card-content class="email-container">
      <ion-icon name="mail-outline" class="email-icon"></ion-icon>
      <a href="mailto:info@nlsa.ac.za">Email: info&#64;nlsa.ac.za</a>
    </ion-card-content>
    <ion-card-content class="email-container">
      <ion-icon name="call-outline" class="email-icon"></ion-icon>
      <a href="tel:021 424 6320">021 424 6320</a>
    </ion-card-content>
  </ion-card>

    </div> 
  </div>
  <app-footer></app-footer> 
  </ion-content>
  
    
  

